/* Marketplace Project Card Component */

.marketplace-project-card {
  position: relative;
  width: 100%;
  height: 18em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #171717;
  color: white;
  font-family: Montserrat, system-ui, -apple-system, sans-serif;
  font-weight: bold;
  border-radius: 20px;
  overflow: visible;
  z-index: 1;
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.marketplace-project-card .card-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  row-gap: 1em;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.marketplace-project-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: -3px;
  border-radius: 10px;
  background: radial-gradient(#858585, transparent, transparent);
  transform: translate(-5px, 250px);
  transition: 0.4s ease-in-out;
  z-index: -1;
}

.marketplace-project-card:hover::before {
  width: 150%;
  height: 100%;
  margin-left: -25%;
}

.marketplace-project-card::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 20px;
  background: rgb(23, 23, 23, 0.7);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

.marketplace-project-card .card-heading {
  z-index: 2;
  transition: 0.4s ease-in-out;
  font-size: 2rem;
}

.marketplace-project-card:hover .card-heading {
  letter-spacing: 0.025em;
}

.marketplace-project-card .card-heading::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 100px 80px #fff, 150px 120px #fff, 50px 40px #fff,
    80px 150px #fff, 120px 100px #fff, 180px 140px #fff, 200px 180px #fff,
    250px 160px #fff, 220px 130px #fff, 70px 200px #fff, 30px 170px #fff;
  z-index: 1;
  transition: 1s ease;
  animation: 1s glowing-stars linear alternate infinite;
  animation-delay: 0s;
}

.marketplace-project-card:hover .card-heading::before {
  filter: blur(3px);
}

.marketplace-project-card .card-heading::after {
  content: "";
  top: -8.5%;
  left: -8.5%;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  border: none;
  outline: none;
  border-radius: 50%;
  background: #f9f9fb;
  box-shadow: 0px 0px 40px rgba(193, 119, 241, 0.8),
    0px 0px 40px rgba(135, 42, 211, 0.8), inset #9b40fc 0px 0px 40px -12px;
  transition: 0.4s ease-in-out;
  z-index: -1;
}

.marketplace-project-card:hover .card-heading::after {
  box-shadow: 0px 0px 80px rgba(193, 119, 241, 1),
    0px 0px 80px rgba(135, 42, 211, 1), inset #9b40fc 0px 0px 40px -12px;
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
