/* Marketplace Project Card Component - Clean Style */

.marketplace-project-card {
  position: relative;
  width: 100%;
  height: 18em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #171717;
  color: white;
  font-family: Montserrat, system-ui, -apple-system, sans-serif;
  font-weight: bold;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  backdrop-filter: blur(15px);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.marketplace-project-card .card-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  row-gap: 1em;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}


.marketplace-project-card .card-heading {
  z-index: 2;
  transition: 0.4s ease-in-out;
  font-size: 2rem;
}

.marketplace-project-card:hover .card-heading {
  letter-spacing: 0.025em;
}
