/* Project Details Modal Glassmorphism Effects */

.project-modal-content {
  position: relative;
  background-color: rgba(15, 15, 20, 0.6) !important;
  backdrop-filter: blur(24px) !important;
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.65), inset 0 0 25px rgba(255, 255, 255, 0.12);
  border-radius: 24px !important;
  border: 1px solid rgba(255, 255, 255, 0.16) !important;
  z-index: 1;
}

.project-modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0.8;
  box-shadow: 220px 118px #fff, 280px 176px #fff, 40px 50px #fff,
    60px 180px #fff, 120px 130px #fff, 180px 176px #fff, 220px 290px #fff,
    520px 250px #fff, 400px 220px #fff, 50px 350px #fff, 10px 230px #fff,
    140px 20px #fff, 425px 20px #fff, 70px 120px #fff, 20px 130px #fff,
    110px 80px #fff, 280px 80px #fff, 250px 350px #fff, 280px 230px #fff,
    220px 190px #fff, 450px 100px #fff, 380px 80px #fff, 520px 50px #fff,
    600px 200px #fff, 700px 150px #fff, 800px 100px #fff;
  z-index: 0;
  transition: 1s ease;
  animation: 1.5s glowing-stars linear alternate infinite;
  animation-delay: 0s;
  pointer-events: none;
}

.project-modal-content::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: rgba(23, 23, 23, 0.3);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  pointer-events: none;
}

.project-modal-header {
  position: relative;
  z-index: 1;
}

.project-modal-header::after {
  content: "";
  top: -30px;
  left: 30px;
  position: absolute;
  width: 4em;
  height: 4em;
  border: none;
  outline: none;
  border-radius: 50%;
  background: #f9f9fb;
  box-shadow: 0px 0px 60px rgba(193, 119, 241, 0.7),
    0px 0px 60px rgba(135, 42, 211, 0.7), inset #9b40fc 0px 0px 40px -12px;
  transition: 0.4s ease-in-out;
  z-index: 0;
  pointer-events: none;
}

@keyframes glowing-stars {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
