/* Glassmorphism effect for modals */
.glassmorphism-modal {
  backdrop-filter: blur(15px);
  background: rgba(11, 11, 13, 0.85) !important;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
