.glass-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: 2rem;
}

.glass-card-large {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 600px;
  background: linear-gradient(rgba(255, 255, 255, 0.133), transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  overflow: hidden;
}
